.hero-section {
    /* background-image: url("save amazon.jpg"); */
    background-size: cover;
    height: 400px;
    /* display: flex; */
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(24, 15, 108);
}

*/ .hero-msg {
    color: ;
    height: 400px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}


/* shop-section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
}

.box {
    /* border: 2px solid black; */
    height: 150px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
}

.box-content p {
    color: #007185;
}
